@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Waterfall&display=swap');

:root {
  --main-box-shadow: 3px 5px 7px 6px rgba(0, 0, 0, 0.5);
  --primary-green: rgba(149, 171, 66, 0.7);
  --primary-yellow: rgba(107, 236, 32, 0.7);
  --primary-gradient: linear-gradient(rgb(24, 163, 94), rgba(0, 0, 0, 0.5));
  --primary-purple: rgba(163, 139, 193, 0.6);
  --main-font: 'Outfit', sans-serif;
  --cursive-font:'Waterfall', cursive;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100vh;
  font-family: var(--main-font);
  color: white;  
}

header {
  position: fixed;
  width: 100%;
  z-index: 5;
}

body {
  position: relative;
  background-color: black;
  padding-bottom: 60px;  
}

.bg {
 
  background-color: black; 
}

.flex-cont { 
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

.topper {
  margin-top: 2vh;
  max-width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.flower {
  max-width: 20%;
  z-index: 0;
}

.bugs {
  max-width: 60%;
}


h1 {
  font-weight: 400;
  font-size: 4rem;
  color: white;
}

h2 {
    font-weight: 200;
    font-size: 30px;
    color: white;
}

h2 a {
  text-decoration: none;
}

h3 {
  font-family: var(--cursive-font);
  font-size: 3rem;
  font-weight: 100;
}

h4 {
  font-size: 24px;
  font-weight: 500;
  color: white;
}

h5 {
  font-family: var(--cursive-font);
  font-size: 1.5rem;
}

p {
  font-weight: 200;
}


/* ----- COUNTDOWN -------- */

.coming-soon {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.countdown {
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  border: 1px solid white;
  margin-top: 10px;
  border-radius: 20px;
}


.day,.hour,.minute,.second {
  font-size: 3rem;
  border-radius: 10px;
  font-weight: 300;
}

.container-day,.container-hour,.container-minute,.container-second {
  margin: 0 1rem;
  border-radius: 10px;
  padding: 0 1rem 1rem;  
}

.date {
  margin-top: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;  
  margin-bottom: 5rem;
}

.date-card {
  text-align: center;
  
}



.bio {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 5%;

}

.bio-reverse {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  
}

.met {
  width: 360px;
  height: 360px;

  text-align: center;
  margin: 0 10px 20px; 
  /* padding: 10px 20px; */
  
}

.met a {
  text-decoration: none;
}

.info {
  margin: 10vh 0;
  max-width: 50vw;
  text-align: center;
}

.info a {
  text-decoration: none;
}



.small {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.place-cont {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.place {
  width: 400px;
  margin: 0 10px 20px; 
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid white;
}


.left {
  text-align: left;
}

.right {
  text-align: right;
}

.cursive {
  font-family: var(--cursive-font);
}

.leaf {
  width: 40%;
}

.reg {
  width: 100%;
  padding: 0 10%;
}

button {
  display:inline-block;
  padding:0.5em 3em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-transform:uppercase;
  font-family: 'Jost', sans-serif;
  text-decoration:none;
  border-radius:2em;
  color:#FFFFFF;
  background-color: rgba(0, 0, 0, 0.0);
  text-align:center;
  transition: all 0.2s;
}

button:hover {
  color: black;
  background-color: rgba(20, 241, 149, 0.7);
}

.hotel {  
  text-align: center;
  width: 400px;
  border-radius: 10px;
  padding-bottom: 20px;
  border: 1px solid white;
  margin-bottom: 40px;
}

.map-cont {
  width: 400px;
  position: relative;
  border-radius: 10px;
  border: 1px solid white;
}

.map-cont img {
  width: 100%;
  border-radius: 10px;
}

.map-cont a:hover {
  background: transparent;
  padding: 0;
}

.map-text {
  width: 400px;  
  text-align: center;
  position: absolute;
  top: 90px;
  z-index: 1;  
}

.schedule {
  text-align: center;
  width: 600px;
}

.event {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.event-left {
  width: 300px;
  margin-left: 10px;
  text-align: left;
}

.event-right {
  width: 300px;
  margin-right: 10px;
  text-align: right;
}

.uline {
  text-decoration-line: underline;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
}


.rsvp {   
    padding: 40px;
    text-align: center;
    min-height: 100vh;
}

.divider {
  border-bottom: 1px solid white;
  margin: 10px 60px;
}

.faqs {
  max-width: 100vw;
  text-align: center;
}

.faq {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  margin: 10px 10px 20px;
  border-radius: 10px;
}

.faq img {
  width: 80px;
  height: auto;
}

.question {
  width: 500px;
  font-style: italic;
  font-weight: 500;
  /* margin: 10px 20px; */
  padding-top: 5%;
}

.answer {
  text-align: center;
  width: 500px;
  margin: 10px 10px; 
}

a {
  color: white;
  font-weight: bold;
}

a:hover {
  color: rgba(20, 241, 149, 0.7);
}

address a {
  text-decoration: none;
}

nav {
  width: 100%;
  background-color: black;
  border-bottom: 1px solid white;
  position: absolute;
  top: 0;
}

#navbar h2 {
  text-align: center;
  font-weight: 100;
  font-size: 30px;
}

.navbar-toggle {
  color: white;
  position: absolute;
  top: 5px;
  left: 10px;
  cursor: pointer;
}

.main-nav {
  list-style-type: none;
  display: none;
 
}

.active {
  display: block;
}

.main-nav li {
  text-align: center;
  margin: 10px auto;
  font-size: 1rem;
}

.nav-list {
  height: 100%;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;    
}

.nav-list li { 
  padding: 3%;
  text-decoration: none;
  font-size: 30px;
  font-weight: 300;
  margin: 2% 0;  
}

.nav-links {
  text-decoration: none;
  color: white;
}



.footer { 
  position: absolute;
  bottom: 0;
  margin-top: 20%;
  width: 100%;
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 12px;
}

.gallery {
  width: 90%;
  margin: 0 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.gallery img {
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
}

.gallery img:hover {
 transform: scale(1.03);
 
}

.full-img {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.full-img img {
  width: auto;
  max-height: 90vh;
}

.full-img span {
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 30px;  
  cursor: pointer;
}

.box {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 100px;
  box-shadow: 3px 5px 7px 6px rgba(0, 0, 0, 0.5);
}

/* MEDIA TABLET */

@media (max-width: 768px) {


  h1 {
     font-size: 40px;
    
  }
   
  .countdown {
    width: 100%;  
   }

  .day,.hour,.minute,.second {
    font-size: 30px;
  }

  .bio img {
    width: 50%;
    height: 50%;
  }

  .bio-reverse img {
    width: 50%;
    height: 50%;
  }
 
  .met {
    width: 100%;
    height: auto;
    padding: 5px;
    margin: 5px 2%;
  }

   .box {
     margin-top: 60px;
   }
 
  .date h4 {
     font-size: 18px;
   }

  .grid {
     display: grid;
     grid-template-columns: 1fr;
  }

  .main-nav li {
     font-size: 1.5rem;
  }

  .question, .answer {
      width: 400px;
  }

} 
 
 @media (min-width: 768px) {

 .main-nav {
    display: flex;
    flex-direction: row;
 
  }



  .navbar-toggle {
    display: none;
  }
}

/* ---------- MEDIA PHONE ------------ */

@media (max-width: 480px) {

  nav {
    padding-top: 15px;
  }

  .navbar-toggle {
    top: 20px;
  }

  p {
    font-size: 15px;
    font-weight: 300;
  }

  #navbar h2 {
    font-size: 20px;
    font-weight: 100;
  }

  .info {
    max-width: 70vw;
  }

  .coming-soon {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .countdown {
    width: 100%;
    flex-direction: column;
    justify-content:space-between;
  }

  .day,.hour,.minute,.second {
    font-size: 30px;
  }

  h1 {
     font-size: 20px;
  }

  h2 {
    font-size: 20px;
  }

   h3 {
     font-size: 30px;
   }

  .date {
    flex-direction: column;
  }

  .bio, .bio-reverse {
    flex-direction: column;
    max-width: 85vw;
    margin-bottom: 40px;
  }

  .schedule {
    max-width: 90vw;
  }

  .event h2 {
    font-size: 15px;
    font-weight: 300;
  }

  .place-cont {
    width: 90vw;
  }
  
  .place {
    margin: 0 2px 20px;
    padding: 2px;
  }

  .met {
     width: 100%;
     height: auto;
     margin: 0 0.5px 2px;
     padding: 0 0; 
  }

  .faq {
    width: 85vw;
  }
  
  .question h4 {
    font-size: 20px;
  }
  .question, .answer {
    max-width: 80vw;
    margin: 2px 2px;
  }

  .full-img img {
    width: 100%;
  }

  .hotel {
    max-width: 85vw;
  }

  .map-cont {
    max-width: 85vw;
  }

  .map-text {
    max-width: 85vw;
    top: 60px;
  }

  .reg {
    width: 90vw;
    padding: 0;
  }

  footer p {
    font-size: 10px;
  }


}